- breadcrumb_title _("Security capabilities")
- page_title _("Security capabilities")
- add_page_specific_style 'page_bundles/security_discover'

#js-security-discover-app{ data: group_security_discover_data(@group) }
