- add_to_breadcrumbs s_('Analytics|Analytics dashboards'), group_analytics_dashboards_path(@group)
- breadcrumb_title s_('Analytics|Value Streams Dashboard')

#js-analytics-dashboards-list-app{ data: analytics_dashboards_list_app_data(@group).merge({ data_source_clickhouse: @data_source_clickhouse.to_s, topics_explore_projects_path: topics_explore_projects_path }) }
